version: "3"

networks:
  db_network:
    driver: bridge
  content_network:
    driver: bridge
  
services:
  mysql:
    image: mysql:8
    container_name: mysql
    restart: unless-stopped
    env_file: .env
    environment:
      - MYSQL_DATABASE=wordpress #database name
    volumes:
      - ./dbdata:/var/lib/mysql #local backup for database
    networks: 
      - db_network #isolated network for database 
    
  wordpress:
    depends_on:
      - mysql
    image: wordpress:5.8.1-fpm
    container_name: wordpress
    restart: unless-stopped
    user: www-data #container user
    environment:
      - WORDPRESS_DB_HOST=mysql #database host
      - WORDPRESS_DB_USER=$MYSQL_USER #mysql non root user
      - WORDPRESS_DB_PASSWORD=$MYSQL_PASSWORD #password for non root user
      - WORDPRESS_DB_NAME=wordpress #database name for WordPress
    volumes:
      - wordpress_data:/var/www/html #saving container data 
    networks: 
      - db_network #isolated network for database
      - content_network #isolated network for content

  nginx:
    depends_on: 
      - wordpress
    build: nginx #build container from Dockerfile
    restart: unless-stopped
    command: ["nginx", "-g", "daemon off;"]
    container_name: nginx
    ports: 
    - 80:80
    volumes:
    - wordpress_data:/var/www/html #saving container data 
    networks:
    - content_network #isolated network for content
volumes:
  db_data: {}
  wordpress_data: {}